[submodule "Lib/BashiBazook"]
	path = Lib/BashiBazook
	url = https://github.com/TimSimpson/BashiBazook.git
[submodule "Lib\\glm"]
	path = Lib\\glm
	url = https://github.com/TimSimpson/conan-glm.git
[submodule "Lib/glm"]
	path = Lib/glm
	url = https://github.com/TimSimpson/conan-glm.git
[submodule "Lib/cereal"]
	path = Lib/cereal
	url = https://github.com/TimSimpson/conan-cereal.git
[submodule "Lib/lua"]
	path = Lib/lua
	url = https://github.com/TimSimpson/conan-lua.git
[submodule "Lib/conan"]
	path = Lib/conan
	url = https://github.com/conan-io/conan.git
